<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.cureherapp"
    android:versionCode="1"
    android:versionName="1.0"
    tools:ignore="GradleOverrides">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CureHerApp"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon, android:allowBackup">
        <activity
            android:name=".AvailableSlotsActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorInfoActivity"
            android:exported="false" />
        <activity android:name=".DoctorProfileActivity" />
        <activity android:name=".DoctorLoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".BlogsActivity" />
        <activity android:name=".DoctorsListActivity" />
        <activity android:name=".CommunityActivity" />
        <activity android:name=".RegisterPatientActivity" />
        <activity android:name=".VerifyOTPActivity" />
        <activity android:name=".InputMobileActivity" />
        <activity android:name=".OnBoardingActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>